<div class="container ml-5 mt-5">
  
    <form>
          <div class="row">
    <div class="col-md-8">
            <h3>Enter Delivery Details</h3>
            <label for="fname">Address</label><br>
            <input type="text" style="width: 30%" id="fname" name="fname"><br>
            <label for="lname">Pincode</label><br>
            <input type="mobile" style="width: 30%" id="lname" name="lname"><br>
            <label for="lname">Mobile</label><br>
            <input type="mobile" style="width: 30%" id="lname" name="lname"><br>
        </div>
        <div class="col-md-4">
            <div class="container border border-secondary p-5 rounded">
                <h3>Total Amount: RS.{{total}}</h3>
                 <p>Payment method</p>
                  <input type="radio" id="cod" value="COD">
                  <label for="html">COD</label><br>
                  <input type="radio" id="Online Payment"  value="online">
                  <label for="css">Online Payment</label><br>
                <a href="" class="btn btn-primary float-right">Checkout</a>
            </div>
        </div>
         </div>
    </form>
   
</div>